
.content {
    /* margin-top: 10px; */
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    border-radius: 10px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20px;
}
label {
    margin-top: 10px;
}
input, textarea, button {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
textarea {
    height: 100px;
}
button {
    margin-left: 2%;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    /* margin-top: 10px; */
}
button:hover {
    background-color: ba4949;
}
pre
{
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    margin-right: 3px;
}
footer {
    position: absolute;
    bottom: 0;
    background-color:#ecaeb6;
    width: 100vw;
}


#log-up-in
{
    border: black;
    height: 10%;
    font-size: xx-large;
    margin-right: 90%;
    margin-top: 4%;
}
.navbar {
    position: relative;
    display: inline-block;
    width: 150px;
    margin-left: 10px;
    /* margin-top: 25%; */
}

.nav-button {
    width: 150px;
    border-radius: 0%;

    background-color: #858585;
    color: white;
    padding: 10px;
    font-size: small;
    border: none;
    cursor: pointer;
}

.nav-button:hover {
    background-color: #3498db;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: small;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.navbar:hover .dropdown-content {
    display: block;
}